@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  position: absolute;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.flex-stack {
  @apply flex flex-col justify-between gap-3;
}

.bg-pod {
  @apply dark:bg-zinc-950 bg-stone-200;
}

.bg-pod-alt {
  @apply dark:bg-zinc-900 bg-stone-100;
}

.grainy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://img.freepik.com/premium-photo/black-paper-seamless-texture-background_150889-55.jpg');
  background-size: 100px 100px;
  background-repeat: repeat;
}
