@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  position: absolute;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.flex-stack {
  @apply flex flex-col justify-between gap-3;
}

.bg-pod {
  @apply dark:bg-zinc-950 bg-stone-200;
}

.bg-pod-alt {
  @apply dark:bg-zinc-900 bg-stone-100;
}

.light .grainy {
  background-image: linear-gradient(
      to top,
      rgba(150, 150, 150, 1) 0%,
      rgba(150, 150, 150, 1) 65%,
      rgba(150, 150, 150, 0) 100%
    ),
    url('/images/bg-zig.png');
  background-size: auto, 300px;
  background-repeat: no-repeat, repeat;
}
.dark .grainy {
  background-image: linear-gradient(to top, rgba(4, 4, 4, 1) 0%, rgba(4, 4, 4, 1) 65%, rgba(10, 10, 10, 0) 100%),
    url('/images/bg-zig-dark.png');
  background-size: auto, 300px;
  background-repeat: no-repeat, repeat;
}
